# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environment
.env
.env.*
!.env.example

# Django
db.sqlite3
staticfiles/
media/

# Virtual environment
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# Git
.git/

# Docker
*.log
